$themeColor: #ff5555;

// #region Dark theme variables
$darkBgColor: #151515;
$darkPrimaryTextColor: #D4D4D4;
$darkSecondaryTextColor: #EEEEEE;
$darkIconColor: #FCFCFC;
// #endregion

// #region Light theme variables
$lightBgColor: #F6F6F6;
$lightPrimaryTextColor: black;
$lightSecondaryTextColor: 595959;
$lightIconColor: #3C3C3C;
// #endregion

$bodyFont: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
